*{
     background-color: black;
     color: white;
     margin: 0;
     padding: 0;
     }
header
       {
       display: flex;

     }
    .header1{
        flex: 3;
        text-align: left;
    }
    .logo{
        flex: 1;
    }
    .search-container{
        flex: 4;
        padding-top: 20px;
    }
    .header2{
        flex: 5;
        text-align: center;
        padding: 10px;
    }
    .header3{
        flex: 2;
        text-align: center;
        padding: 10px;
    }
    main{
        display: flex;
    }
    .s1{
        flex: 1;
        border: 5px solid rgb(105, 105, 105);
    }
    details{
        border: 1px solid rgb(87, 87, 87);
        border-radius: 5px;
        padding: 5px;
    }
    summary{
        text-decoration: dashed underline;

    }
    summary:hover{
        color: rgb(129, 44, 33);
    }
    .s2{
         flex: 3;
         border: 5px solid rgb(63, 61, 61);
    }
    #img1{
        height: 300px;
        width: 500px;
        place-items: center;
        margin: 0 auto;
    }
    .s3{
         flex: 1;
         border: 5px solid rgba(51, 49, 49, 0.774);
    }